<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header >

<ion-content>
  <ion-list padding>
    <ion-button expand="block" (click)="startScanning()">scan</ion-button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}}
    </ion-item>
    <ion-button expand="block" (click)="disconnect()">Disconnect</ion-button>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.id)">
        {{device.name }}
      </span>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
    <ion-button expand="block" (click)="available()">available</ion-button>
  </ion-list>
  <p>{{d}}</p>
</ion-content>